package frontend

templ AccountView() {
    @layout(){
    <div class="flex flex-col bg-white rounded-md overflow-hidden shadow-xl w-[350px]">
        <p>My Links:</p>
        <p>My Images:</p>
        <p>My Files:</p>
    </div> 
    }
}