<html>
    <head>
        <title>Shorty</title>
        <meta charset="UTF-8">
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body class="flex justify-center items-center bg-sky-400">
        <form action="/create" method="GET">
            <div class="bg-white rounded-md shadow-lg p-8">
                <p class="mb-4">Create your shortlink</p>
                <div class="flex">
                    <input type="url" name="url" class="p-1 shadow-md rounded-l-md" placeholder="https://example.com">
                    <button class="flex rounded-r pl-2 pr-2 bg-gray-300 hover:bg-sky-400">Create</button>
                </div>
                {{if .Error}}
                    <p class="mt-4 text-red-600">{{.Error}}</p>
                {{end}}
            </div>   
        </form>
    </body>
</html>