{{ define "content" }}
<div class="bg-white rounded-md shadow-lg p-4">
    <div class="flex flex-row justify-between items-start w-full">
        <div class="flex flex-col">
            <p class="mb-1 text-md">{{ .FileName }}</p>
            <p class="mb-2 text-sm">{{ printf "%.2f" .SizeMB }} MB</p>
        </div>
        <button onclick="alert('Not implemented')" class="p-1 rounded-md text-white font-bold bg-red-600 hover:bg-red-400 active:bg-red-500">Report</button>
    </div>
    <hr align="center" class="mt-1 w-full" size="2" color="#000000"/>
    <a href="{{ .ImageUrl }}" target="_self">
        <img class="rounded-md w-auto h-[50vh]"src="{{ .ImageUrl }}" alt="{{ .FileName }}"/>
    </a>
    <hr align="center" class="mb-1 w-full" size="2" color="#000000"/>
    <p>URL:</p>
    <textarea class="w-full rounded-sm p-1 bg-gray-200 resize-none">{{ .ViewUrl }}</textarea>
    <p class="mt-1">BB-Code:</p>
    <textarea class="w-full rounded-sm p-1 bg-gray-200 resize-none">[URL={{ .ViewUrl }}][IMG]{{ .ThumbnailUrl }}[/IMG][/URL]</textarea>
</div>
{{ end }}